.login-form {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	font-weight: 300;
}
.login-form .hero.is-success {
	background: #F2F6FA;
}
.login-form .hero .nav, .login-form .hero.is-success .nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.login-form .box {
	margin-top: 5rem;
}
.login-form .avatar {
	margin-top: -70px;
	padding-bottom: 20px;
}
.login-form .avatar img {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.login-form input {
	font-weight: 300;
}
.login-form p {
	font-weight: 700;
}
.login-form p.subtitle {
	padding-top: 1rem;
}
